# app
Django
psycopg2-binary
celery
django-redis
requests
django-cors-headers
django-debug-toolbar
django-environ

# opentelemetry
opentelemetry-api
opentelemetry-sdk

# instrumentation
opentelemetry-instrumentation
opentelemetry-instrumentation-django
opentelemetry-instrumentation-celery
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-psycopg2
opentelemetry-instrumentation-redis
opentelemetry-instrumentation-requests

# exporter
opentelemetry-exporter-otlp-proto-grpc
