# app
Django==3.2.13
PyMySQL==0.10.1
celery==5.2.2
django-redis==4.12.1
requests==2.25.1

# opentelemetry
opentelemetry-api==1.0.0
opentelemetry-sdk==1.0.0
# instrumentation
opentelemetry-instrumentation==0.19b0
opentelemetry-instrumentation-django==0.19b0
opentelemetry-instrumentation-celery==0.19b0
opentelemetry-instrumentation-logging==0.19b0
opentelemetry-instrumentation-pymysql==0.19b0
opentelemetry-instrumentation-redis==0.19b0
opentelemetry-instrumentation-requests==0.19b0
# exporter
opentelemetry-exporter-opencensus==0.19b0
