# app
Django
PyMySQL
celery
django-redis
requests

# opentelemetry
opentelemetry-api
opentelemetry-sdk

# instrumentation
opentelemetry-instrumentation
opentelemetry-instrumentation-django
opentelemetry-instrumentation-celery
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-pymysql
opentelemetry-instrumentation-redis
opentelemetry-instrumentation-requests

# exporter
opentelemetry-exporter-otlp-proto-grpc
