# app
requests
django-environ

# utility
setuptools-scm

# opentelemetry
opentelemetry-distro[otlp]
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-urllib
opentelemetry-instrumentation-urllib3
